.overlay {
  padding-top: 50px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(black, 0.6);  
  
  .overlay__addApp {
    margin: 0 auto;
    margin-top: 20px;
    padding: 2px;
    display: block;
  }
}

.overlay__infoBox {
  width: 400px;
  max-height: calc(100vh - 50px);
  margin: 0 auto;
  padding: 30px 30px 40px;
  background-color: white;
  border: 3px solid black;
  overflow-y: scroll;

  div, form {
    margin: 10px auto;
    border: 1px solid black;
    padding: 10px;
    background-color: #D1DDBD;

    * {
      margin: 3px 0;
    }

    button {
      margin: 5px;
      padding: 2px;
    }
  }
}

h2 {
  text-align: center;
  font-size: 2rem;
}

span {
  width: 90px;
  display: inline-block
}

form p {
  display: flex;
  align-items: center
}