.calendar__weekdays {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 3px solid #222;
  border-bottom: 3px solid #222;
  background-color: #72A7A3;
  color: #222;
}

.calendar__weekday {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
  cursor: default;
  user-select: none
}